[submodule "shijiansu.github.io/themes/maupassant"]
	path = shijiansu.github.io/themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
